/* element, classes, pseudo */
p{
    color:green;
    font-size: 30px;
    border: 1px solid red;
}

.user{
    color:rgb(174, 54, 74);
    font-size: 50px;
}

.user:hover{
    color:pink;
    font-size: 50px;
}